.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 10%;
}

.header-text {
  color: #333333;
  font-size: 4.8rem;
  letter-spacing: -0.9px;
  text-align: left;
  font-family: "SourceSansPro-Light", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  margin-left: 1%;
}

.container {
  display: flex;
  width: 100%;

  &--card-half-width {
    justify-content: flex-start;

    @media (max-width: 1300px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &--image {
    position: relative;
    width: 47%;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &--body {
    width: 53%;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &--tag {
    position: absolute;
    background-color: white;
    //width: 140px;
    width: fit-content;
    height: 26px;
    margin: 3% 0 0 -5px;
  }
}

.card {
  background-color: white;
  display: flex;
  margin: 0 auto;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  &--full-width {
    width: 98%;
    margin-bottom: 30px;
  }
  &--half-width {
    width: 48%;

    @media (max-width: 1300px) {
      width: 98%;
      margin-bottom: 30px;
    }
  }
}

.location-image {
  width: 100%;
  height: auto;
}

.tag {
  width: 5px;

  &--international {
    background-color: #F7B500;
  }

  &--domestic {
    background-color: #32C5FF;
  }

  &--text {
    font-family: "SourceSansPro-SemiBold", sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.4rem;
    margin: auto 0;
    letter-spacing: 0.8px;
    width: fit-content;
    align-self: flex-start;
    padding: 0 5px;
  }
}

.card-text {
  margin: 0 0 10px 20px;
  padding-right: 5%;

  &--cta {
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 1.4rem;
    color: #090909;
    letter-spacing: 0.5px;
    width: fit-content;
    margin: 10px 0 15px 20px;
    padding: 7px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid silver;

    &:hover {
      background-color: #9485A1CC;
      color: white;
      cursor: pointer;
      transition: transform .2s;
      transform: scale(1.03);

    }

    @media (max-width: 1000px) {
      margin-top: 15px;
    }
  }

  &--location {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 2.4rem;
    color: #333333;
    letter-spacing: -0.3px;
    font-weight: 600;
  }

  &--date {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 1.4rem;
    color: #333333;
    letter-spacing: 0.91px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--description {
    display: block;
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 1.6rem;
    color: #333333;
    line-height: 28px;
    font-weight: 300;
  }
}

